@use '/src/shared/styles/helpers' as *;

.input {
	width: 100%;
	&__main {
		width: 100%;
		padding: 12px 16px;
		background-color: transparent;
		border: var(--border-input);
		border-radius: var(--border-radius-8);
		caret-color: var(--color-light);
		color: var(--color-light);
		outline: none;

		&::placeholder {
			color: var(--color-grey-alternate);
		}

		&:focus {
			outline: 1px solid var(--color-light);
		}

		@include mobile-s {
			font-size: var(--font-size-16);
			padding: 10px 14px;
		}

	}
}