@use "/src/shared/styles/helpers" as *;

.card {
	@include flex(inline-flex);
	height: 49px;
	padding-inline: 16px;
	background-color: var(--color-blue-alternate);
	border-radius: var(--border-radius-8);
	color: var(--color-light);

	@include laptop {
		padding-block: 4px;
		font-size: var(--font-size-14);
	}

	@include mobile {
		padding: 12px;
		height: auto;
	}

	@include mobile-s {
		padding: 8px;
		width: 100%;
	}

	&__content {
		text-align: center;
	}
}