@use "/src/shared/styles/helpers" as *;

.programs {
	@include flex(flex, center, center);
	flex-direction: column;
	row-gap: 64px;
	padding-block: var(--section-padding-y);

	@include tablet {
		row-gap: 32px;
	}

	&__title {
		font-size: clamp(1.7rem, 4.492vw, 2.875rem);
		font-weight: 300;
	}

	&__card {
		&-list {
			@include flex;
			flex-direction: column;
			row-gap: 24px;
		}

		&-item {
			@include flex(flex, start, center);
			position: relative;
			padding: 40px;
			width: 100%;
			background-color: var(--color-grey-alternate);

			@include tablet {
				@include flex(flex, center, start);
				flex-direction: column;
				row-gap: 40px;
				padding: 20px;
			}

			&__main {
				@include flex(flex, center, start);
				flex-direction: column;
				row-gap: 24px;

				@include tablet {
					width: 100%;
				}

				@include mobile {
					align-items: center;
				}

				&-title {
					font-size: clamp(1.575rem, 3.94vw, 3.5rem);
					font-weight: 300;
				}

				&-tags {
					@include flex(flex, start, center);
					column-gap: 16px;
					width: 100%;
					row-gap: 5px;

					@include mobile-s {
						@include flex;
						flex-direction: column;
					}
				}

				&-description {
					@include flex(flex, center, start);
					flex-direction: column;
					row-gap: 8px;
					max-width: 70%;

					&__title {
						font-size: var(--font-size-22);
						font-weight: 500;
					}

					&__main {
						&-list {
							@include flex(flex, center, start);
							flex-direction: column;
							row-gap: 8px;
							padding-right: 20px;

							@include tablet {
								padding-right: 0;
							}
						}

						&-item {
							list-style: disc inside;

							@include laptop {
								font-size: var(--font-size-16);
							}

							@include desktop {
								font-size: var(--font-size-14);
							}
						}
					}
				}
			}

			&__description {
				@include flex;
				aspect-ratio: 1;
				width: 45%;
				max-height: 300px;

				@include tablet {
					position: relative;
					width: 100%;
				}

				&-image {
					position: absolute;
					content: '';
					height: 100%;
					width: auto;
					bottom: 0;
					right: 12%;

					@include laptop {
						height: 90%;
					}

					@include tablet {
						height: 100%;
						left: 50%;
						transform: translateX(-50%);
					}
				}

				&-text {
					position: absolute;
					background-color: var(--color-light);
					padding: 16px;
					width: 49%;
					right: 40px;
					bottom: 40px;
					text-align: center;
					border-radius: var(--border-radius-8);

					@include laptop {
						font-size: var(--font-size-16);
					}

					@include tablet {
						width: 80%;
						left: 50%;
						translate: -50% 20%;
					}

					@include mobile {
						font-size: var(--font-size-14);
					}

					@include mobile-s {
						font-size: 12px;
					}
				}
			}
		}
	}
}