@use "/src/shared/styles/helpers" as *;

.imagecard {
	&__image {
		height: 100%;
		width: auto;
	}

	&__description {
		position: absolute;
		content: '';
		bottom: 16px;
		left: 50%;
		translate: -50%;
		white-space: nowrap;
		color: var(--color-light);
		font-size: clamp(14px, 1.45vw, 18px);
	}
}