@use "/src/shared/styles/helpers" as *;

.ticker {
	padding-block: var(--section-padding-y);
	width: 100%;
	overflow: hidden;

	&__content {
		@include flex;

		padding-block: 10px;
		background-color: var(--color-grey-alternate);

		&-text {
			font-weight: 500;
			color: var(--color-blue-alternate);
			margin-right: 100px;

			@include tablet {
				font-size: var(--font-size-16);
				margin-right: 70px;
			}

			@include mobile {
				font-size: var(--font-size-14);
				margin-right: 40px;
			}
		}
	}
}