@use '/src/shared/styles/helpers' as *;

.teachers {
	@include flex(flex, center, center);
	flex-direction: column;
	row-gap: 64px;
	padding-block: var(--section-padding-y);

	@include tablet {
		row-gap: 32px;
	}

	&__images {
		&-list {
			@include flex;

			@include tablet {
				@include flex;
				flex-direction: column;
			}
		}
	}
}